# config files
config.json
users.json
users-new.json
users-old.json

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gapbot

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
